<div class="conteiner">
  <div class= "row">
    <div class = "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>マイページ</h1>
      <h2>登録情報</h2>
      <table class="table table-hover teble-inverse mt-3">
        <tr>
          <td>氏名</td>
          <td><%= @customer.full_name %></td>
        </tr>
        <tr>
          <td>カナ</td>
          <td><%= @customer.full_name_kana %></td>
        </tr>
        <tr>
          <td>ニックネーム</td>
          <td><%= @customer.nickname %></td>
        </tr>
        <tr>
          <td>アイコン</td>
          <td><%= image_tag @customer.get_profile_image("100x100") %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td><%= @customer.is_deleted ? "退会" : "有効" %></td>
        </tr>
      </table>

      <h5>フォロー</h5>
　　　<%= link_to @customer.follower.count, customer_follows_path(@customer.id) %>
　　　<h5>フォロワー</h5>
　　　<%= link_to @customer.followed.count, customer_followers_path(@customer.id) %>

      <%= link_to "コメント一覧", customer_post_comments_path(@customer.id) %>

      <%= link_to "投稿一覧一覧", customer_posts_path(@customer.id) %>

      <%= link_to "編集", edit_customer_path(@customer.id), class: "btn btn-success" %>
  </div>
