<h1>会員詳細画面</h1>

<%= @customer.last_name %>

<%= @customer.first_name %>

<%= @customer.last_name_kana %>

<%= @customer.first_name_kana %>

<%= @customer.nickname %>

<%= image_tag @customer.get_profile_image("100x100") %>
<h5>フォロー</h5>
<%= link_to @customer.follower.count, customer_follows_path(@customer.id) %>
<h5>フォロワー</h5>
<%= link_to @customer.followed.count, customer_followers_path(@customer.id) %>