<h1>投稿一覧</h1>

<%= link_to  "新規投稿", new_post_path %>

<% @posts.each do |post| %>

<%= link_to post_path(post.id) do %>
<%= image_tag post.get_image("600x600") %>
<% end %>

<%= post.title %>

<%= post.introduction %>

<%= post.category.name %>

<%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %>

<div class="review-rating" data-score="<%= post.rate %>">評価：</div>
    <div id="star-rate<%= post.id%>"></div>
    <script>
      $('#star-rate<%= post.id%>').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        starHalf  : '<%= asset_path('star-half.png') %>',
        half      : true,
        // 入力できないようにする
        readOnly: true,
        score: <%= post.rate %>
      });
    </script>

<% end %>