<h1>投稿一覧</h1>

<%= link_to  "新規投稿", new_post_path %>

<% @posts.each do |post| %>

<%= link_to post_path(post.id) do %>
<%= image_tag post.get_image("600x600") %>
<% end %>

<%= post.title %>

<%= post.introduction %>

<%= post.category.name %>

<% end %>