<div class="container">
 <div class="row">
   <div class="col">
     <h2>投稿一覧</h2>
   </div>
  </div>
 <div class="row mb-3">
   <% if @posts.exists? %>
   <% @posts.each do |post| %>
    <div class="col-lg-4 col-md-6 col-sm-7 mb-2 form-inline justify-content-center">
      <div class="card mt-5 shadow-lg">
        <%= link_to post_path(post.id), class: "bd-placeholder-img card-img-top" do %>
        <%= image_tag post.get_image("350x350!") %>
        <% end %>
        <dl>
          <dt class="post-title">タイトル</dt>
          <dd class="d-inline-block text-truncate ml-2" style="max-width: 200px;"><%= post.title %></dd>
          <dt class="post-text">紹介文</dt>
          <dd class="d-inline-block text-truncate ml-2" style="max-width: 200px;"><%= render_with_hashtags(post.introduction) %></dd>
          <dt class="post-category">カテゴリー</dt>
          <dd class="ml-2"><%= post.category.name %></dd>
          <dt class="post-rate">評価</dt>
          <dd class="ml-2" id="star-rate<%= post.id%>"><%= render 'public/posts/rate', post: post %></dd>
          <dt>コメント数 : <%= post.post_comments.count %><span class="ml-3">いいね数 : <%= post.favorites.count %></span></dt>
          <dt class="mt-2"><span>投稿日 : </span><span class="text-muted mt-2 ml-2"><%= post.created_at.strftime("%Y年%m月%d日") %></span></dt>
        </dl>
      </div>
    </div>
   <% end %>
   <% else %>
     <div class="col text-center text-break mt-5">
         <h1>投稿はありません</h1>
     </div>
    <% end %>
 </div>
 <%= paginate @posts %>
</div>