<h1>投稿詳細</h1>

<%= image_tag @post.get_image("600x600") %>

<%= @post.title %>

<%= @post.introduction %>

<%= @post.category.name%>

<% if @post.favorited_by?(current_customer) %>
    <p>
      <%= link_to post_favorites_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorites_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
<% end %>

<div>
  <p>コメント件数：<%= @post.post_comments.count %></p>
  <% @post.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.customer.get_profile_image("100x100") %></p>
    <%= post_comment.customer.nickname %>

    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <%= link_to "削除", post_post_comment_path(post_comment.post.id, post_comment.id), method: :delete %>
  <% end %>
</div>

<div>
<%= form_with model: [@post, @post_comment] do |f| %>

    <%= f.text_area :comment, rows:'5', placeholder: "商品のコメント", class: "form-control form-control-sm" %>


    <%= f.submit "投稿する" %>
<% end %>
</div>





<%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-success px-3" %>

<%= link_to "戻る", posts_path, class: "btn btn-secondary" %>

<%= link_to "削除する",post_path(@post.id), method: :delete, class: "btn btn-danger" %>


