<div class="container">
  <div class="row mb-3">
    <div class="col">
      <h2>投稿詳細</h2>
      <% if @post.customer == current_customer %>
         <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-success ml-2" %>
         <%= link_to "削除する",post_path(@post.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger ml-2" %>
      <% end %>
         <%= link_to "戻る", posts_path, class: "btn btn-secondary ml-2" %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
    <%= image_tag @post.get_image("400x400!") %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-10 text-break">
      <dl>
       <h5>
        <dt>タイトル</dt>
        <dd class="mt-2 ml-2"><%= @post.title %></dd>
        <dt>紹介文</dt>
        <dd class="mt-2 ml-2"><%= render_with_hashtags(@post.introduction) %></dd>
        <dt>カテゴリ</dt>
        <dd class="mt-2 ml-2"><%= @post.category.name %></dd>
        <dt>評価</dt>
        <dd class="mt-2 ml-2" id="star-rate<%= @post.id %>"><%= render 'public/posts/rate', post: @post %></dd>
        <dt>
            <span class="favorites_counter"><%= render 'public/favorites/counter', post: @post %></span>
            <span class="favorite-btn<%= @post.id %>"><%= render 'public/favorites/favorites_btn', post: @post %></span>
            <span class="post_comments_counter"><%= render 'public/post_comments/counter', post: @post %></span>
        </dt>
        
      </h5>
    </dl>
    </div>
  </div>
  <div class="post_comment_comment">
    <%= render 'public/post_comments/form', customer: @post.customer, post: @post, post_comment: @post_comment %>
  </div>
  <div class="post_comment">
    <%= render 'public/post_comments/index', post: @post %>
  </div>
</div>
