<h1>記事編集</h1>

<%= form_with model: @article, url: admin_article_path, method: :patch do |f| %>

<%= f.label :image, "画像" %>
<%= f.file_field :image, accept: "image/*" %>

<%= f.label :title, "タイトル" %>
<%= f.text_field :title %>

<%= f.label :introduction, "紹介文" %>
<%= f.text_area :introduction %>

<%= f.submit "保存" %>

<% end %>