<div class="container">
  <div class="row mb-3">
    <div class="col">
      <h2>記事詳細</h2>
        <%= link_to "編集する", edit_admin_article_path(@article.id), class: "btn btn-success px-3" %>
        <%= link_to "戻る", admin_articles_path, class: "btn btn-secondary" %>
        <%= link_to admin_article_path(@article.id), method: :delete, class: "btn btn-danger" do %>削除する<% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <%= image_tag @article.get_image("400x400!") %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-10 text-break">
      <dl>
       <h5>
        <dt>タイトル</dt>
        <dd class="mt-2 ml-2"><%= @article.title %></dd>
        <dt>紹介文</dt>
        <dd class="mt-2 ml-2"><%= @article.introduction %></dd>
        <dd class="mt-3">
          投稿日 : <span class="text-muted"><%= @article.created_at.strftime("%Y年%m月%d日") %></span>
        </dd>
       </h5>
      </dl>
    </div>
  </div>
</div>