<% if customers.exists? %>
 <% customers.each do |customer| %>
  <div class="col-lg-4 col-md-6 col-sm-7 form-inline justify-content-center">
    <div class="card mt-5 mb-3 shadow-lg">
      <%= link_to admin_customer_path(customer.id), class: "bd-placeholder-img card-img-top" do %>
      <%= image_tag customer.get_profile_image("350x350!") %>
      <% end %>
        <dl>
          <dt class="customer-nickname">ニックネーム</dt>
          <dd class="d-inline-block text-truncate ml-2" style="max-width: 200px;"><%= customer.nickname %></dd>
          <dt class="customer-followers">フォロー数</dt>
          <dd class="ml-2"><%= link_to  customer_follows_path(customer) do %><h4><%= customer.follower.count %></h4><% end %></dd>
          <dt class="customer-followeds">フォロワー数</dt>
          <dd class="ml-2"><%= link_to  customer_followers_path(customer) do %><h4><%= customer.followed.count %></h4><% end %></dd>
        </dl>
   </div>
  </div>
 <% end %>
<% else %>
  <div class="col text-center text-break mt-5">
      <h1>検索した会員はいません。</h1>
  </div>
<% end %>