<div class="container">

<div class="row">
  <div class="col-md-10">
<h2>新規会員登録</h2>

<%= form_with model: [:public, @customer], url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>


<div class="form-row mt-4">
  <div class="col">
    お名前
    </div>
    <div class="col">
      <%= f.text_field :last_name, autofocus: true, placeholder: "姓", autocomplete: "family-name", class: "form-control" %>
    </div>
    <div class="col">
      <%= f.text_field :first_name, placeholder: "名", autocomplete: "given-name", class: "form-control" %>
    </div>
</div>

<div class="form-row mt-3">
  <div class="col">
    フリガナ
    </div>
    <div class="col">
    <%= f.text_field :last_name_kana, placeholder: "セイ", autocomplete: "family-name", class: "form-control" %>
    </div>
    <div class="col">
    <%= f.text_field :first_name_kana, placeholder: "メイ", autocomplete: "given-name", class: "form-control" %>
    </div>
 </div>

 <div class="form-row mt-3">
  <div class="col">
    ニックネーム
    </div>
    <div class="col">
    <%= f.text_field :nickname, placeholder: "ニックネーム", class: "form-control" %>
    </div>
    <div class="col"></div>
 </div>

  <div class="form-row mt-3">
    <div class="col">
    メールアドレス
    </div>
    <div class="col">
    <%= f.email_field :email, placeholder: "sample@example.com", autocomplete: "email", class: " form-control" %>
    </div>
    <div class="col"></div>
  </div>

  <div class="form-row mt-3">
    <div class="col">
    パスワード(6文字以上)
    </div>
    <div class="col">
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>
    <div class="col"></div>
  </div>

  <div class="form-row mt-3">
    <div class="col">
    パスワード(確認用)
    </div>
    <div class="col">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>
    <div class="col"></div>
  </div>

  <div class="form-row mt-4">
    <div class="col"></div>
    <div class="col">
    <%= f.submit "新規登録", class: "btn btn-success form-control" %>
    </div>
    <div class="col"></div>
  </div>
<% end %>
<div class="form-row mt-4">
    <div class="col">
      <h5>既に登録済みの方</h5>
    </div>
    <div class="col">
      <%= render "public/shared/links" %>
    </div>
    <div class="col"></div>
  </div>
</div>
</div>
</div>